h6 {
    animation: color-change 1s infinite;
}

@keyframes color-change {
    0% {
        color: rgb(16, 185, 129);
    }

    25% {
        color: white;
    }

    50% {
        color: rgb(16, 185, 129);
    }

    75% {
        color: white;
    }

    100% {
        color: rgb(16, 185, 129);
    }
}